
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-dialog {
    margin: 1.75rem auto;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px; /* More reasonable default size */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
  }
  .form-label{
    background: white;
    padding: 20px;
  
  }
  .btn{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 120px;  /* Set the desired width */
    height: 50px; /* Set the desired height */
  
  }
  .my-table{
    border: 1px solid;
    border-collapse: collapse;
    border-bottom: 1px solid #dddddd;
  
  }
  table {
    border: 1px solid;
    border-collapse: collapse;
    border-bottom: 1px solid #dddddd;
  }
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
    
  }
  th{
    background-color: rgb(161, 159, 159);
  
  }
  tr:hover {
    background-color: rgb(161, 159, 159);
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }